@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#progress {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-dasharray: 602.88;
  stroke-dashoffset: 301.44;
}

/* This will remove the outline for all clickable elements */
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; /* Disable text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
